In [9]:
import pandas as pd
from collections import Counter

# Согласованность на самостоятельно размеченных

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.cohen_kappa_score.html#r219a3b9132e1-1

The kappa score (see docstring) is a number between -1 and 1. Scores above .8 are generally considered good agreement; zero or lower means no agreement (practically random labels).

In [3]:
df_sens = pd.read_csv("sensitive_topics_vers3.csv")

In [11]:
df_sens_self = df_sens[df_sens['source'] == 'self']

In [10]:
Counter(df_sens['source'])

Counter({'toloka': 8766,
         'trtest': 378,
         'self': 1978,
         'kw': 21656,
         'toloka_real_manual_relabel': 526,
         'no_kw_manual_relabel': 600})

In [4]:
df_sens.columns

Index(['text', 'offline_crime', 'online_crime', 'drugs', 'gambling',
       'pornography', 'prostitution', 'slavery', 'suicide', 'terrorism',
       'weapons', 'body_shaming', 'health_shaming', 'politics', 'racism',
       'religion', 'sexual_minorities', 'sexism', 'social_injustice',
       'source'],
      dtype='object')

In [16]:
topics = list(df_sens_self.columns[1:-1])
topics

['offline_crime',
 'online_crime',
 'drugs',
 'gambling',
 'pornography',
 'prostitution',
 'slavery',
 'suicide',
 'terrorism',
 'weapons',
 'body_shaming',
 'health_shaming',
 'politics',
 'racism',
 'religion',
 'sexual_minorities',
 'sexism',
 'social_injustice']

In [29]:
df_sens_self['topic_num'] = df_sens_self.apply(lambda x: len([t for t in topics if x[t] > 0.8]), axis = 1)

<ipython-input-29-b07134c5fe98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sens_self['topic_num'] = df_sens_self.apply(lambda x: len([t for t in topics if x[t] > 0.8]), axis = 1)

In [30]:
Counter(df_sens_self['topic_num'])

Counter({1: 1271, 0: 703, 2: 4})

In [18]:
df_sens_self['named_topics'] = df_sens_self.apply(lambda x: ','.join([t for t in topics if x[t] > 0.8]), axis = 1)

<ipython-input-18-7c6040b727da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sens_self['named_topics'] = df_sens_self.apply(lambda x: ','.join([t for t in topics if x[t] > 0.8]), axis = 1)

In [19]:
df_sens_self.head()

,text,offline_crime,online_crime,drugs,gambling,pornography,prostitution,slavery,suicide,terrorism,...,body_shaming,health_shaming,politics,racism,religion,sexual_minorities,sexism,social_injustice,source,named_topics
607,Зачем мужчины покупают себе крутые автомобили?...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,self,sexism
608,"идея не новая.... большевики-революционеры, хо...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.8,0.0,0.0,0.0,1.0,0.0,self,sexism
609,"Какое бл.ять резюме,вы там оба чтоли ку ку?не ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,self,sexism
610,Да какой там мужик? У него обязанности посуду ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,self,sexism
611,Не ты че я же девочка,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,self,sexism

In [20]:
df_sens_self_only_source = df_sens_self[['text','named_topics']]

In [7]:
df_varvara_self = pd.read_csv("check_self_lables - Varvara.csv")

In [8]:
df_varvara_self.head()

,text,topic,Unnamed: 2,Unnamed: 3
0,У знакомого есть офигенные муравьи. Мы им к...,offline_crime,offline_crime,NaN
1,-проникновения инородных предметов в тело. ост...,weapons,health_shaming,NaN
2,…Опять завыла собака. Я решился подойти к окну...,weapons,health_shaming,weapons
3,.S пройдена проверка на авторитетных бордах.,health_shaming,online_crime,NaN
4,Istg:-автоматически зарегистрированные аккаунт...,online_crime,online_crime,NaN

In [12]:
Counter(df_varvara_self['text'].isin(df_sens_self['text']))

Counter({True: 101})

In [21]:
df_varvara_self_joined = df_varvara_self.merge(df_sens_self_only_source, on = 'text',how = 'left')

In [22]:
df_varvara_self_joined.head()

,text,topic,Unnamed: 2,Unnamed: 3,named_topics
0,У знакомого есть офигенные муравьи. Мы им к...,offline_crime,offline_crime,NaN,offline_crime
1,-проникновения инородных предметов в тело. ост...,weapons,health_shaming,NaN,weapons
2,…Опять завыла собака. Я решился подойти к окну...,weapons,health_shaming,weapons,weapons
3,.S пройдена проверка на авторитетных бордах.,health_shaming,online_crime,NaN,health_shaming
4,Istg:-автоматически зарегистрированные аккаунт...,online_crime,online_crime,NaN,online_crime

In [23]:
Counter(df_varvara_self_joined['named_topics'])

Counter({'offline_crime': 10,
         'weapons': 4,
         'health_shaming': 10,
         'online_crime': 10,
         'sexism': 10,
         'politics': 9,
         'suicide': 10,
         'prostitution': 1,
         'social_injustice': 10,
         'drugs': 10,
         'slavery': 2,
         'pornography': 10,
         'body_shaming': 1,
         'terrorism': 2,
         'sexual_minorities': 1,
         'gambling': 1})

In [25]:
Counter(df_varvara_self_joined['topic'] == df_varvara_self_joined['named_topics'])

Counter({True: 101})

In [27]:
from sklearn.metrics import cohen_kappa_score
# y_true = [2, 0, 2, 2, 0, 1]
# y_pred = [0, 0, 2, 2, 0, 2]

y_true = df_varvara_self_joined['topic'].tolist()
y_pred = df_varvara_self_joined['Unnamed: 2'].tolist()

cohen_kappa_score(y_true, y_pred)

0.6850198946123239

In [28]:
from nltk.metrics.agreement import AnnotationTask
from nltk.metrics import masi_distance

In [35]:
collected_data = []
for item_idx,el in df_varvara_self_joined.iterrows():
    for coder_idx,label in zip([0,1],[el['topic'],el['Unnamed: 2']]):
        collected_triplet = (coder_idx,item_idx,label)#frozenset(labels_list
        collected_data.append(collected_triplet)
                              
task = AnnotationTask()
    
task.load_array(collected_data)

task.alpha()

0.6584675135528764

# Согласованность по ключевым словам

In [38]:
df_kw_lbl = pd.read_csv("check_keywords_lables - check_keywords_lables.csv")

In [39]:
df_kw_lbl.head()

,text,topic,nikolay_1,nikolay_2,varvara_1,varvara_2
0,", NUMBER,NUMBER годпа прошло примерно, никто в...",offline_crime,offline_crime,NaN,offline_crime,NaN
1,"""Аполлония, немного помолившись, отошла в стор...",religion,suicide,NaN,religion,NaN
2,"""Давай на спор"" - такие передачи делают из нас...",pornography,pornography,NaN,social_injustice,NaN
3,"""Хороший"" товарищ Конечно ему понравилось, что...",online_crime,gambling,NaN,gambling,online_crime
4,"NUMBER Кто сказал, что ты некрасивая?",body_shaming,body_shaming,NaN,body_shaming,NaN

In [42]:
collected_data = []
for item_idx,el in df_kw_lbl.iterrows():
    for coder_name, coder_idx in zip(['nikolay','varvara'],[0,1]):
        labels_list = []
        for lbl_idx in ['1','2']:
            columns_name  = coder_name + '_' + lbl_idx
            vote = el[columns_name]
            if isinstance(vote, str):
                labels_list.append(vote)
        if len(labels_list) == 0:
            labels_list.append('none')
        
        collected_triplet = (coder_idx,item_idx,frozenset(labels_list))#
        collected_data.append(collected_triplet)
                              
task = AnnotationTask(distance = masi_distance)
    
task.load_array(collected_data)

task.alpha()

0.5330396588794728

In [44]:
df_kw_lbl['is_one_expert_match'] = df_kw_lbl.apply(lambda x: any([n == v for n in x[['nikolay_1','nikolay_2']] for v in x[['varvara_1','varvara_2']]]), 
                                                  axis = 1)

In [48]:
len(df_kw_lbl[df_kw_lbl['is_one_expert_match'] == True])/len(df_kw_lbl)

0.7398843930635838

In [47]:
Counter(df_kw_lbl['is_one_expert_match'])

Counter({True: 128, False: 45})

In [64]:
df_kw_lbl.sample(4)

,text,topic,nikolay_1,nikolay_2,varvara_1,varvara_2,is_one_expert_match
132,Сейчас уже идут просрочки и судя по предыдущем...,social_injustice,social_injustice,NaN,social_injustice,NaN,True
145,"Так у него сиськи как у бабы, лол. Смотришь на...",body_shaming,sexual_minorities,NaN,body_shaming,NaN,False
117,помогите мне ! дайте совет ! как мне поступить...,suicide,suicide,NaN,suicide,NaN,True
90,"Негр или латинос в большинстве своём, жестокий...",terrorism,racism,NaN,racism,offline_crime,True

In [50]:
df_kw_lbl_somehow_agreed = df_kw_lbl[df_kw_lbl['is_one_expert_match'] == True]

In [54]:
df_kw_lbl_somehow_agreed['engaged_topics'] = df_kw_lbl_somehow_agreed.apply(lambda x: set([v for v in x[['nikolay_1','nikolay_2','varvara_1','varvara_2']] if isinstance(v,str)]),
                                                                           axis = 1)

<ipython-input-54-f4d057cf3152>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kw_lbl_somehow_agreed['engaged_topics'] = df_kw_lbl_somehow_agreed.apply(lambda x: set([v for v in x[['nikolay_1','nikolay_2','varvara_1','varvara_2']] if isinstance(v,str)]),

In [55]:
df_kw_lbl_somehow_agreed.head()

,text,topic,nikolay_1,nikolay_2,varvara_1,varvara_2,is_one_expert_match,engaged_topics
0,", NUMBER,NUMBER годпа прошло примерно, никто в...",offline_crime,offline_crime,NaN,offline_crime,NaN,True,{offline_crime}
3,"""Хороший"" товарищ Конечно ему понравилось, что...",online_crime,gambling,NaN,gambling,online_crime,True,"{gambling, online_crime}"
4,"NUMBER Кто сказал, что ты некрасивая?",body_shaming,body_shaming,NaN,body_shaming,NaN,True,{body_shaming}
5,NUMBER.Игровые долги копьё.Это важный моральны...,gambling,gambling,NaN,gambling,NaN,True,{gambling}
6,NUMBER% самоубийств подростков можно было бы б...,suicide,suicide,NaN,suicide,NaN,True,{suicide}

In [57]:
df_kw_lbl_somehow_agreed['anyhow_correct'] = df_kw_lbl_somehow_agreed.apply(lambda x: x['topic'] in x['engaged_topics'],
                                                                           axis = 1)

<ipython-input-57-7d1cfa09df86>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kw_lbl_somehow_agreed['anyhow_correct'] = df_kw_lbl_somehow_agreed.apply(lambda x: x['topic'] in x['engaged_topics'],

In [58]:
len(df_kw_lbl_somehow_agreed[df_kw_lbl_somehow_agreed['anyhow_correct']==True])/len(df_kw_lbl_somehow_agreed)

0.90625

In [59]:
collected_data = []
for item_idx,el in df_kw_lbl_somehow_agreed[df_kw_lbl_somehow_agreed['anyhow_correct']==True].iterrows():
    for coder_name, coder_idx in zip(['topic','nikolay'],[0,1]):
        
        labels_list = []
        if coder_name == 'nikolay':
            for lbl_idx in ['1','2']:
                columns_name  = coder_name + '_' + lbl_idx
                vote = el[columns_name]
                if isinstance(vote, str):
                    labels_list.append(vote)
            if len(labels_list) == 0:
                labels_list.append('none')
        else:
            labels_list.append(el[coder_name])
        
        collected_triplet = (coder_idx,item_idx,frozenset(labels_list))#
        collected_data.append(collected_triplet)
                              
task = AnnotationTask(distance = masi_distance)
    
task.load_array(collected_data)

task.alpha()

0.7630787015545294