In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [2]:
df = pd.read_csv("inapp_for_labeling - inapp_for_labeling.csv")

In [ ]:
df['OUTPUT:result'] = df['OUTPUT:result'].map({'yes':1,'no':0})

In [5]:
df.head()

,INPUT:text,OUTPUT:result,topic,nikolay,varvara
0,я работаю в налоговойКак вы там вообще выживае...,1,offline_crime,1,1
1,Кто сегодня главврача психиатрички будет брать...,1,offline_crime,1,1
2,"Помните это фото из Горловки, на котором запеч...",1,offline_crime,1,1
3,"Проблема в том, что у них за спинами постоянно...",1,offline_crime,1,0
4,бред по-моему! скорее у него голова отрезана и...,1,offline_crime,0,1

In [6]:
y_true = df['nikolay'].tolist()
y_pred = df['varvara'].tolist()
cohen_kappa_score(y_true, y_pred)

0.6390977443609023

In [7]:
df_agreed_experts = df[df['nikolay']==df['varvara']]

In [8]:
len(df_agreed_experts)/len(df)

0.8222222222222222

In [9]:
y_true = df_agreed_experts['nikolay'].tolist()
y_pred = df_agreed_experts['OUTPUT:result'].tolist()
cohen_kappa_score(y_true, y_pred)

0.8085381630012937